.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.intro-text {
    padding-top: 100px !important;
    padding-bottom: 10% !important;
}

.intro-heading {
    margin-bottom: 5px !important;
}

.fde {
    color: #ffc60a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: 50px !important;
}

.rd {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }

    header.masthead {
        text-align: center;
        color: #fff;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
    }

    .myImage {
        /* background-image: url("../src/assets/img/bg22.jpg") !important; */
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
}

.dev {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-style: initial !important;
    font-weight: 800;
    padding-top: 5%;
}

.of {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: 3vw!important;
    font-weight: 700!important;
}

.intro-lead-in {
    margin-bottom: 10px !important;
}

#ide {
    font-style: initial !important;
}

.nav-bar {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,.25);
}

#about,
#portfolio {
    background: linear-gradient(#bdc3c7, #2c3e50) !important;
}
.of:after,
.of:before {
    content: "\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
    margin: auto 0.5em;
}

.hed_img {
    width: 80%;
    padding-top: 12vw;
}

.pad {
    padding-top: 2rem !important;
}

#skill {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-heading {
    color: white;
}

.ts {
    color: white;
}

.modal {
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
}

.jumbotron {
    background: none !important;
    padding: 1rem 2rem !important;
    border: 1px solid #fff !important;
}

.head {
    color: black;
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
    text-align: center;
}

hr {
    height: 1px;
    background-color: white;
    border: none;
}

.text_colo {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#achievements {
    background-color: black;
    color: white;
}

.highlight {
    color: white;
}

.text-muted {
    font-size: 17px !important;
    color: #616161;
}

.vmw {
    padding-top: 10%;
    background-color: #212529 !important;
    border-color: #212529 !important;
}

.information {
    padding-top: 2rem;
}

.myImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #ffc60a;
}

.text-algn {
    text-align: center;
}

.img-flu {
    width: 270px;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-fluids {
    height: 11.8rem;
    width: 21rem;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#home, #skill, #achievements {
    background: linear-gradient(#232526, #414345);
}

.service-heading {
    font-family: 'Courier New', Courier, monospace;
}

.portfolio-caption {
    max-width: 335px !important;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    }
  .grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
  }

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.content {
    margin: 0;
    padding-top: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    display: flex;
    min-height: 14vh;
    justify-content: center;
}

.content h2 {
    color: #fff;
    font-size: 2em;
    position: absolute;
    /* transform: translate(-50%, -50%); */
}
.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #ffc60a;
}
.content h2:nth-child(2) {
    color: #ffc60a;
    animation: animate 4s ease-in-out infinite;
}

btn-primary {
    color: #fff;
    background-color: #ffc60a !important;
    border-color: #ffc60a !important;
}
@keyframes animate {
    0%,
    100% {
        clip-path: polygon( 0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100% );
    }

    50% {
        clip-path: polygon( 0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100% );
    }
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}